<details class='pp-group pp-appearance-none pp-pb-4 pp-outline-none pp-transition pp-border-b pp-border-b-[#e8e8e1] pp-duration-300 pp-hover:cursor-pointer pp-hover:bg-white/5'>
	<summary class='pp-flex pp-w-full pp-appearance-none pp-items-center pp-justify-between hover:pp-cursor-pointer'>
		<div class='pp-flex pp-gap-6 pp-items-center'>
			{% render 'pp-icons-v1-0-0', icon: icon, class: 'pp-w-6 pp-h-6' %}
			<span class='pp-text-base'>{{ title }}</span>
		</div>
		<svg
			xmlns='http://www.w3.org/2000/svg'
			class='pp-h-[22px] pp-w-[22px] pp-min-w-[22px] pp-transition pp-duration-500 group-open:pp-rotate-180'
			viewBox='0 0 256 256'>
			<path d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"></path>
		</svg>
	</summary>
	<article class='pp-text-base pp-transition-opacity pp-duration-500 pp-ease-in-out pp-text -pp-mb-4 pp-py-4'>
		{{ content }}
	</article>
</details>
