<div class='pp-flex pp-items-center pp-gap-2 pp-cursor-pointer' onclick='scrollToReviews()'>
	<div class='pp-flex pp-gap-0.5'>
		{% for i in (1..rating) %}
			<svg
				xmlns='http://www.w3.org/2000/svg'
				class='pp-w-5 pp-h-5'
				style='fill: {{ stars_color }}'
				viewBox='0 0 256 256'>
				<path d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"></path>
			</svg>
		{% endfor %}
	</div>
	<div class='pp-text-base'>
		{{ count }}
		{{ review_text }}
	</div>
</div>

<script>
	function scrollToReviews() {
		const reviewsGrid = document.querySelector('#reviews-grid');
		const reviewsSlider = document.querySelector('#reviews-slider');
		const targetElement = reviewsGrid || reviewsSlider;

		if (targetElement) {
			const offset = -30; // Add a small offset of 20px from the top
			const elementPosition = targetElement.getBoundingClientRect().top;
			const offsetPosition = elementPosition + window.pageYOffset + offset;

			window.scrollTo({
				top: offsetPosition,
				behavior: 'smooth',
			});
		}
	}
</script>
